.products {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  padding: 0.8rem;
}

@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .products {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
