:root {
  --brand-color: #fd1b49;
  --font-black: #2c2c2c;
  --font-white: #ffffff;
  --font-light-black: #4e4e4e;
  --color-gray: #d1d5db;
  --color-light-gray: #d1d5db;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  max-width: 1280px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
