.icon {
  position: relative;
}

.icon__count {
  position: absolute;
  background-color: var(--brand-color);
  color: var(--font-white);
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 1rem;
  text-align: center;
  transform: translate(-0.6rem, -0.6rem);
}
